.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: $gap-row $gap-column;
  max-width: calc($cards-row * $card-width + 3 * $gap-column);

  &--position {
    margin: 50px auto;
  }

  @media screen and (min-width: 1200px) {
    & {
      max-width: 1200px;
      padding: 0 104px;
    }
  }

  @media screen and (max-width: 1024px) {
    & {
      max-width: 1024px;
    }
  }
}
